@font-face {
    font-family: 'AzonixRegular';
    src: url('AzonixRegular.eot'),
        url('../fonts/AzonixRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AzonixRegular.woff2') format('woff2'),
        url('../fonts/AzonixRegular.woff') format('woff'),
        url('../fonts/AzonixRegular.ttf') format('truetype'),
        url('../fonts/AzonixRegular.svg#AzonixRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* h1{

     font-family: "AzonixRegular";
} */
* {
	margin: 0 auto;
	padding: 0;
}
header {
	margin: 0;
}
body,
html {
	height: 100%;
}
.nav-link {
	padding: 0px;
	margin: 20px;
	height: 45%;
}
.nav-item:hover {
	color: #ff0000 !important;
	text-decoration-color: #E18728
}
a {
	color: #ffffff;
}
a:hover {
	display: inline-block;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
	color: #6C757D;
}
.cvbutton {
	margin: 10%;
	height: 75%;
}
.bg-dark {
	background: transparent !important;
	transition: 2.0 ease;
}
.bg-dark.scrolled {
	background: #012D32 !important;
	opacity: 0.5;
}
.section_title {
    font-family: "AzonixRegular";
    transform: translateY(-120px);

   
}
#background_landing {
	height: 80vh;
	background-color: #012C32;
}
#landing_header {
	align: right;
	transform: translateY(300px);
}
.section_heading  {
    font-family: "AzonixRegular";
    color: #ffffff; 

}
#aboutme_section {
	height: 100vh;
	background-color: #51696B;
}
#projects_section {
	height: 100vh;
	background-color: #c5d2d2;
}
#testimonial_section {
	height: 120vh;
}
  /*
  ##Device = iphone x
  ##Screen = B/w 360px to 479px
*/
@media (min-width: 375px) and (max-width: 410px) {
        .section_title {
        transform: none;
        text-align: center;

    }
 
}
