* {
    margin: 0 auto;
    padding: 0;
}

header {
    margin: 0;
}
body, html {
  height: 100%;

}
.section_title{
align: left;
}

#background_landing  {
height: 80vh;
background-color: #012C32;
}
#landing_header {
align: right;
transform: translateY(300px);
}
#section_heading {
    transform: translateY(-300px);
}
#aboutme_section {
height: 100vh;
background-color: #51696B;
}

#projects_section{
height:100vh;
background-color: #c5d2d2;
}

#testimonial_section {
height:120vh;

}
@media only screen and (max-width: 600px) {
  #landing_header{
    transform: translateY(150px);
    font-size: 10px;
    align: center;
}